@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="ui secondary vertical harmonify-menu pointing menu">
  <a class="item @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
    Profile
  </a>
  <a class="item" id="avatar" href="/Identity/Account/Manage/AvatarCrop">
    Avatar
  </a>
  <a class="item @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
    Email
  </a>
  <a class="item  @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
    Password
  </a>
  @if (hasExternalLogins)
  {
    <a id="external-login" class="item @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
  }
  <a class="item @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
    Personal data
  </a>
</div>
